body{
  color:black;
  background-color:green;
  transition: background-color 200ms ease-in-out;
  animation: flasher 200ms infinite;
}

@keyframes flasher {
  0%{
    background-color: green;
  }
  50%{
    background-color: black;
  }
  100%{
    background-color: green;
  }
}
